.admin-tooltip {
  position: relative;
}

.form-type-container > .admin-tooltip {
  right: 110px;
  top: 17px;
}

.admin-tooltip:hover .admin-tooltip__icon {
  fill: #000000;
}

.admin-tooltip:hover .admin-tooltip__text {
  background: #292929;
  color: #ffffff;
  height: auto;
  padding: 15px;
  opacity: 1;
  overflow: visible;
  right: -100px;
  min-width: 200px;
}

.admin-tooltip__icon {
  position: absolute;
  right: 3px;
  top: -9px;
}

.admin-tooltip__text {
  opacity: 0;
  bottom: 32px;
  position: absolute;
  height: 0;
  overflow: hidden;
  transition: opacity 0.25s ease;
}

.admin-tooltip__text::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #292929 transparent transparent transparent;
}

.admin-tooltip__text::before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  height: 30px;
}

.admin-tooltip__text-container {
  width: 200px;
}

.admin-tooltip--fixed-size .admin-tooltip:hover .admin-tooltip__text-container {
  padding-right: 15px;
  max-height: 200px;
  overflow-y: scroll;
}
